.divCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    font-size: 20px;
    font-weight: 600;
}

.input {
    border-width: 3px;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    margin-top: 6px;
    padding-inline-start: 4px;
}

.buttonStyle{
    width: 300px;
    height: 30px;
    background-color: salmon;
    border-radius: 4px;
    color: white;
    margin-top: 15px;
}

.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-top: 20px;
}